.main {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  color: #fff;
}

.menuHorizontal {
  width: 100%;
  height: 100px;
  background-color: #000000;

  display: flex;
  justify-content: center;
  align-items: center;
}

.conteudo_menuHorizontal {
  width: 95%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rotas_menuHorizontal {
  width: 40%;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.rotas_menuHorizontal a {
  text-decoration: none;
  margin-top: 100;
  color: #fff;
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: auto;

}

.initialSection {
  display: flex;
  width: 100%;
  height: 100vh;

  align-items: center;
  justify-content: space-between;
}

.textos_initialSection  {
  width: 50%;
}

.textos_initialSection h5{
  margin-top: 10px;
}

.ilustracao_initialSection {
  width: 50%;
  display: flex;
  justify-content: center;
}

.sobreSection {
  display: flex;
  width: 100%;
  height: 100vh;

  align-items: center;
  justify-content: space-between;
}

.textos_sobreSection {
  width: 50%;
}

.textos_sobreSection h5 {
  margin-top: 15px;
}

.ilustracao_sobreSection {
  width: 50%;

  display: flex;
  justify-content: center;
}

.repositoriosSection {
  display: flex;
  width: 100%;
  height: 100vh;

  align-items: center;
  justify-content: space-between;
}

.cards_repositoriosSection {
  width: 100%;
}

.ilustracao_repositoriosSection {
  width: 50%;
  display: flex;
  justify-content: center;
}

.conteudo_repositoriosSection {
  width: 100%;
  display: flex;
  margin-top: 15px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cardsBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}

.card {
  width: 80%;
  height: 200px;
  background-color: #1d1d1d;
  border-radius: 8px;

  display: flex;
  align-items: center;
}

.seta {
  cursor: pointer;
}

.emBreve {
  width: 100%;
  height: 20%;
  background-color: #ff0000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
}

.ilustracao_repositoriosSection {
  width: 50%;
  display: flex;
  align-items: center;
}

.contatoSection {
  display: flex;
  width: 100%;
  height: 100vh;

  align-items: center;
  justify-content: space-between;
}

.textos_contatoSection {
  width: 50%;
}

.contato_textos_contatoSection {
  width: 100%;
  height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  margin-top: 40px;
}

.ilustracao_contatoSection {
  width: 50%;
  display: flex;
  justify-content: center;
}

@media (max-width: 650px) {
  .rotas_menuHorizontal {
    display: none;
  }

.initialSection {
  display: flex;
  width: 100%;
  height: 100vh;

  align-items: center;
  justify-content: center;
}

  .ilustracao_initialSection {
  display: none;
}

.sobreSection {
  display: flex;
  width: 100%;
  height: 100vh;

  align-items: center;
  justify-content: center;
}

.ilustracao_sobreSection {
  display: none;
}

.cardsBox {
  width: 100%;
}


.ilustracao_repositoriosSection {
  display: none;
}

.contatoSection {
  display: flex;
  width: 100%;
  height: 100vh;

  align-items: center;
  justify-content: center;
}

.ilustracao_contatoSection {
  display: none;
}

}